<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GistFileExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GistFileExtensionUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Gistan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>GistanFileExtension.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>GistanFileExtension2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>GistanFileExtensionUI.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>GistanTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>247AF7091F80DB4B009A401C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>247AF7171F80DB4C009A401C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24A0C1041F7F640F005F0FEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24A0C11A1F7F640F005F0FEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24A0C1251F7F640F005F0FEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24A445D11F89E475009452E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24A445DF1F89E476009452E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
